page-home {
	.background {
		background-image: url('../assets/imgs/logo.png');
		background-repeat: no-repeat;
		background-position: center;
		background-color: #ef7900;
		// background-size: 100%;
	}

	h1 {
		color: #eee;
	}

	.form {
		opacity: .6;
		margin-bottom: 2%;
	}

	.forms {
		margin-top: 10vh;
	}

	button {
		opacity: .7;
	}
}
